
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Projet-AP1.iml
V1/__pycache__/grilles.cpython-312.pyc
V1/__pycache__/regles.cpython-312.pyc
